/* ------------------------------------------------
  Project:   Lifeplus - Oncology Medical & Healthcare HTML5 Template
  Author:    ThemeHt
------------------------------------------------ */

/* ------------------------
    Table of Contents

  1. Section Title
  2. Button
  3. Accordion
  4. Social Icons
  5. Team
  6. Tab
  7. Counter
  8. Blog - Post
  9. Testimonials
  10. Featured Box
  11. Services
  12. Price Table   
  13. Progress Bar
  14. Project Item


/* ------------------------
    Section Title
------------------------*/
.theme-title { margin-bottom: 50px }
.theme-title p { margin-bottom: 0; }
.theme-title h6 { margin-bottom: 10px; position: relative; display: inline-block; color: var(--themeht-primary-color); font-size: 14px; line-height: 22px; font-weight: 700; text-transform: uppercase; }
.theme-title h2 { margin-bottom: 15px; }
.theme-title h2 .title-text { font-style: italic; font-weight: 400; font-family: var(--themeht-typography-secondary-font-family); }
.text-white h1, .text-white h2, .text-white h3, .text-white h4, .text-white h5, .text-white h6, .text-white p, .text-white .theme-title.style-2 h2 span { color: var(--themeht-white-color) }


.themeht-btn i,
.post-arrow i,
.marquee-icon-box i,
.video-round-text i,
.service-item.style-1 .service-icon i,
.featured-item.style-1 i {
    transition: transform 1s;
    display: inline-block;
}

.themeht-btn:hover i,
.post-card.style-1:hover .post-arrow,
.marquee-icon-box:hover i,
.video-round-text:hover i,
.service-item.style-1:hover .service-icon i,
.featured-item.style-1:hover i {
    transform: rotate(3.142rad);
}


/* ------------------------
    Button
------------------------*/
.primary-btn, .white-btn, .dark-btn, .primary-outline-btn, .white-outline-btn, .dark-outline-btn { border: none; border-radius: 100px; overflow: hidden; position: relative; display: inline-block; cursor: pointer; font-size: 14px; font-weight: 700; text-transform: uppercase; padding: 10px 30px;}
a.primary-btn, .primary-btn { background: var(--themeht-secondary-color); color: var(--themeht-text-color); }
.primary-btn:hover { background: var(--themeht-primary-color); color: var(--themeht-white-color); }
a.white-btn, .white-btn { background: var(--themeht-white-color); color: var(--themeht-text-color); }
.white-btn:hover { background: var(--themeht-bg-dark-color); color: var(--themeht-white-color); }
a.dark-btn, .dark-btn { background: var(--themeht-bg-dark-color); color: var(--themeht-white-color); }
.dark-btn:hover { background: var(--themeht-primary-color); color: var(--themeht-white-color); }
a.primary-outline-btn, .primary-outline-btn { border: 1px solid var(--themeht-primary-color); color: var(--themeht-primary-color); }
.primary-outline-btn:hover { background: var(--themeht-primary-color); color: var(--themeht-white-color); }
a.white-outline-btn, .white-outline-btn { border: 1px solid var(--themeht-white-color); color: var(--themeht-white-color); }
.white-outline-btn:hover { background: var(--themeht-white-color); color: var(--themeht-text-color); }
a.dark-outline-btn, .dark-outline-btn { border: 1px solid var(--themeht-border-light-color); color: var(--themeht-text-color); }
.dark-outline-btn:hover { background: var(--themeht-secondary-color); color: var(--themeht-text-color); border-color: var(--themeht-secondary-color); }
.themeht-btn i { position: relative; font-size: 11px; display: inline-block; line-height: 1; }
.themeht-btn span { position: relative; padding-right: 12px; margin-right: 12px; transition: all 0s ease-in-out 0s; }
.themeht-btn span:after { content: ''; position: absolute; top: 50%; right: 0; transform: translateY(-50%); height: 27px; width: 1px; background-color: currentColor; opacity: .2; }

.dark-bg .primary-btn:hover, .footer .primary-btn:hover{background: var(--themeht-white-color); color: var(--themeht-text-color);}
.dark-bg .white-bg .primary-btn:hover{background: var(--themeht-bg-dark-color); color: var(--themeht-white-color);}
.dark-bg .white-btn:hover{background: var(--themeht-primary-color); color: var(--themeht-white-color);}

a.themeht-link-btn, .themeht-link-btn { color: var(--themeht-text-color); font-weight: 600; text-transform: uppercase; }
a.themeht-link-btn:hover, .themeht-link-btn:hover { color: var(--themeht-primary-color); }
.themeht-link-btn i { background: var(--themeht-primary-color); color: var(--themeht-white-color); font-size: 14px; display: inline-block; line-height: 1; margin-left: 10px; border-radius: 50%; width: 24px; height: 24px; line-height: 24px; text-align: center; }


/* ------------------------
 Marquee Text
------------------------*/
.marquee-text { position: relative; display: flex; align-items: center; }
.marquee-text span { font-size: 100px; line-height: 120px; font-weight: 700; color: transparent; -webkit-text-stroke: 2px var(--themeht-primary-color); }
.marquee-text i { margin: 0 60px; font-size: 70px; line-height: 1; color: var(--themeht-primary-color); }
.marquee-swiper .swiper-wrapper { -webkit-transition-timing-function: linear !important; transition-timing-function: linear !important; position: relative; }
.marquee-swiper .swiper-slide { display: flex; width: auto !important; }
.marquee-swiper .swiper-slide:nth-child(2n+2) .marquee-text span { color: var(--themeht-primary-color); -webkit-text-stroke: 2px var(--themeht-primary-color); }
.marquee-icon-box { border-radius: 20px; padding: 40px 30px; background: var(--themeht-white-color); box-shadow: 0 12px 34px 0 rgba(14, 17, 44, 0.06); margin: 20px 30px 40px; text-align: center; }
.marquee-icon-box i { color: var(--themeht-primary-color); font-size: 60px; line-height: 1; }
.marquee-icon-box h5 { margin-bottom: 0; margin-top: 15px; }


/* ------------------------
    Accordion
------------------------*/
.accordion-item { border: none; border-radius: 0 !important; border-bottom: 1px solid var(--themeht-border-light-color); padding-bottom: 20px; background: none; }
.accordion-header { line-height: 0; }
.accordion .accordion-button { border: none; padding: 0; padding-left: 30px; border-radius: 0 !important; background: none; font-weight: 500; font-size: 20px; line-height: 26px; color: var(--themeht-text-color); text-transform: capitalize; display: inline-block; width: 100%; }
.accordion-button:hover, .accordion-button:not(.collapsed) { color: var(--themeht-primary-color); box-shadow: none; }
.accordion .accordion-body { padding: 20px 0 0; color: var(--themeht-body-color); }
.accordion .accordion-button:before, .accordion .accordion-button:after { content: ''; position: absolute; width: 10px; height: 2px; background: var(--themeht-text-color); top: 50%; left: 0; -webkit-transform: translateY(-50%); transform: translateY(-50%) }
.accordion .accordion-button:before { -webkit-transform: translateY(-50%) rotate(90deg); transform: translateY(-50%) rotate(90deg) }
.accordion .accordion-button[aria-expanded="true"]:before, .accordion-button:hover:before { -webkit-transform: translateY(-50%) rotate(0deg); transform: translateY(-50%) rotate(0deg) }
.accordion .accordion-button[aria-expanded="true"]:after, .accordion .accordion-button[aria-expanded="true"]:before, .accordion-button:hover:after, .accordion-button:hover:before { background: var(--themeht-primary-color) !important; }
.accordion-button:focus { box-shadow: none; }


/* ------------------------
    Social Icons
------------------------*/
.social-icons ul { padding: 0; margin: 0; line-height: 0; }
.social-icons li { display: inline-block; list-style: none; padding: 0; margin: 0 8px 0 0; }
.social-icons li a { display: inline-block; height: 40px; width: 40px; line-height: 40px; font-size: 14px; text-align: center; margin: 0; background: transparent; color: var(--themeht-text-color); -webkit-transition: all .3s ease; -o-transition: all .3s ease; transition: all .3s ease; }


/* ------------------------
    Team
------------------------*/
.team-member { text-align: center; margin-bottom: 50px; }
.team-member .team-images { position: relative; overflow: hidden; width: 150px; height: 150px; border-radius: 100%; margin: 0 auto; }
.team-member .team-description { background: var(--themeht-white-color); padding: 100px 30px 30px; margin-top: -75px; border-radius: 20px; }
.team-member .team-description span { color: var(--themeht-primary-color); display: block; font-size: 14px; line-height: 22px; font-weight: 600; text-transform: uppercase; }
.team-member h4 { margin-bottom: 10px; }
.team-member .team-description ul { margin: 30px 0 0; display: inline-block; text-align: left; }
.team-member .team-description ul li { margin-bottom: 10px; }
.team-member .team-description ul li i { color: var(--themeht-primary-color); margin-right: 5px; }
.team-member p { margin-top: 20px; }
.team-member .team-social-icon { margin-top: 20px; }
.team-social-icon li { margin: 0 5px; display: inline-block; }
.team-social-icon li a { border-radius: 50%; background: var(--themeht-bg-light-color); font-size: 18px; height: 40px; width: 40px; line-height: 40px; color: var(--themeht-text-color); display: inline-block; text-align: center; }
.team-social-icon li a:hover { background: var(--themeht-primary-color); color: var(--themeht-white-color); }
.team-member img { width: 100%; }
.team-call { display: inline-block; background: var(--themeht-primary-color); padding: 7px 15px; color: var(--themeht-white-color); display: block; border-radius: 100px; }
.team-call:hover { background: var(--themeht-bg-dark-color); color: var(--themeht-white-color); }
.team-call i { margin-right: 8px; font-size: 30px; vertical-align: middle; }
.team-contact { padding: 30px; }
.team-meta li { margin-bottom: 20px; display: flex; align-items: center; }
.team-meta li i { font-size: 30px; color: var(--themeht-primary-color); vertical-align: middle; margin-right: 15px; }
.team-meta li span { margin-right: 10px; font-weight: 600; color: var(--themeht-text-color); }
.team-member.style2 .team-images, .team-member.style3 .team-images { width: auto; height: auto; border-radius: 20px; }
.team-member.style2 .team-call { border-radius: 0 }
.team-member.style3 { margin-bottom: 0; background: var(--themeht-white-color); border-radius: 0; overflow: hidden; }
.team-member.style3 .team-description { background: none; padding: 30px 0 0; margin-top: 0; box-shadow: none; border-radius: 0; }
.team-member.style3 .team-social-list { position: absolute; right: 15px; bottom: 15px; }
.team-member.style3 .team-images .team-share-icon { border-radius: 10px; display: inline-block; font-size: 24px; z-index: 9; width: 50px; height: 50px; line-height: 50px; margin: 0 auto; background: var(--themeht-primary-color); color: var(--themeht-white-color); cursor: pointer; position: absolute; right: 0; bottom: 0; text-align: center; }
.team-member.style3 .team-social-icon { position: absolute; background: var(--themeht-white-color); right: 1px; bottom: 0; opacity: 0; display: flex; padding: 5px; margin: 0; border-radius: 10px; }
.team-member.style3:hover .team-social-icon { right: 46px; opacity: 1; }
.team-member.style3 .team-images .team-share-icon:hover .team-social-icon { position: absolute; background: var(--themeht-white-color); border-radius: 8px; right: 0; top: 0; }
.team-member.style3 .team-social-icon li a { font-size: 18px; color: var(--themeht-text-color); display: inline-block; }
.team-member.style3 .team-social-icon li a:hover { color: var(--themeht-white-color); }


/* ------------------------
    Tab
------------------------*/
.tab .nav-tabs{border:none;}
.tab .nav-tabs .nav-link{ background: var(--themeht-white-color); border-radius: 100px; font-size: 18px; font-weight: 600; text-transform: capitalize; color: var(--themeht-text-color); position: relative; display: inline-block; border:none; padding:10px 40px;}
.tab .nav-tabs .nav-link:last-child{margin-right: 0;}
.tab .nav-tabs .nav-link.active, .tab .nav-tabs .nav-link:hover, .tab .nav-tabs.active > a:focus, .tab .nav-tabs > a:hover{background: var(--themeht-primary-color); color: var(--themeht-white-color);}
.tab .tab-content{padding: 30px;}


/* ------------------------
    Counter
------------------------*/
.counter-top { position: relative; z-index: 9; display: flex; align-items: center; }
.counter span { font-size: 40px; line-height: 1; font-weight: 700; color: var(--themeht-text-color); display: inline-block; }
.counter span + span { color: var(--themeht-text-color); margin-bottom: 0; vertical-align: middle; }
.counter h6 { display: block; margin-bottom: 0; margin-top: 10px; font-size: 14px; line-height: 22px; font-weight: 600; text-transform: uppercase; }
.counter-icon { margin-right: 10px; }
.counter-icon i { position: relative; font-size: 40px; line-height: 1; display: inline-block; color: var(--themeht-primary-color); }
.dark-bg .counter-icon i { color: var(--themeht-secondary-color); }
.dark-bg .counter span, .theme-bg .counter span { color: var(--themeht-white-color); }
.dark-bg .counter h6 { color: var(--themeht-white-color) }
.theme-bg .counter h6, .theme-bg .counter-icon i { color: var(--themeht-white-color) }
.counter.center { text-align: center; }
.center .counter-top { justify-content: center; }
.counter-lg.counter span { font-size: 100px; line-height: 1; font-weight: 700; color: var(--themeht-text-color); display: inline-block; }


/* ------------------------
    Blog - Post
------------------------*/
.post-card { position: relative; border-radius: 0; overflow: hidden; }
.post-card .post-image { position: relative; }
.post-card .post-image img { width: 100%; border-radius: 20px; }
.post-card .post-desc h4 { word-break: break-word; text-transform: capitalize; }
.post-card .post-desc h4 a { color: var(--themeht-text-color); display: inline-block; }
.post-card .post-desc h4 a:hover { color: var(--themeht-primary-color) }
.post-card .post-bottom li { font-size: 14px; line-height: 22px; font-weight: 600; text-transform: uppercase; color: var(--themeht-body-color);}
.post-card .post-bottom li a {color: var(--themeht-body-color);}
.post-card .post-bottom li span{display: inline-block;}
.post-bottom li i { font-size: 18px; color: var(--themeht-primary-color); vertical-align: middle; margin-right: 5px; }
.post-date a:hover { color: var(--themeht-white-color); }
.post-card.style-1 { position: relative; display: flex; align-items: center; }
.post-card.style-1 .post-image { position: relative; width: 30%; padding-right: 120px; }
.post-card.style-1 .post-title { width: 50%; }
.post-card.style-1 .post-date { border-radius: 100px; display: inline-block; font-size: 16px; line-height: 26px; font-weight: 500; background: var(--themeht-primary-color); padding: 8px 15px; color: var(--themeht-white-color); position: absolute; transform: translateY(-50%) rotate(-90deg); right: 0; top: 50%; }
.post-card.style-1 .post-date a { color: var(--themeht-white-color); }
.post-card.style-1 .post-date i { font-size: 20px; line-height: 1; vertical-align: middle; margin-right: 5px; }
.post-card.style-1 .post-arrow { font-size: 60px; -webkit-text-stroke: 1px var(--themeht-primary-color); color: transparent; position: absolute; right: 0; }

.post-card.style-2 .post-date { display: inline-block; background: var(--themeht-white-color); color: var(--themeht-text-color); padding: 8px 15px; margin-left: 30px; margin-top: 30px; }
.post-card.style-2 .post-desc { padding-top: 30px; }
.themeht-blogs .post-card.style-2 .post-desc { padding: 30px; }
.post-card.style-2  .post-desc h4 { margin-bottom: 20px; line-height: 34px; font-size: 24px; }

.themeht-blogs .post-card { margin-bottom: 80px; }
.themeht-blogs .post-card .post-title h4 { font-size: 36px; line-height: 46px; }

.post-classic.post-card .post-desc, .post-single-page .post-desc{padding-top: 30px;}


/* ---- Sidebar Widget ----*/
.pagination{display: inline-block;}
.pagination > li{margin: 0 3px; display: inline-block;}
.pagination > li > a, .pagination > li > span{font-size: 18px; width: 40px; height: 40px; line-height: 40px; padding: 0; text-align: center; color: var(--themeht-text-color); font-weight: 500; border-radius: 100% !important; border-color: var(--themeht-border-light-color)}
.pagination > li.active .page-link, .page-link:hover, .page-link:focus{box-shadow: none; background: var(--themeht-primary-color); color: var(--themeht-white-color); border-color: var(--themeht-primary-color)}


/* ---- Sidebar Widget ----*/
.themeht-sidebar { padding: 30px; border-radius: 20px; margin-left: 50px; background: var(--themeht-white-color);}
.themeht-sidebar.left-side{margin-left: 0; margin-right: 50px;}

/*Widget-Title*/
.widget{margin-bottom: 50px}
.widget:last-child{margin-bottom: 0}
.themeht-sidebar .widget-title { position: relative; color: var(--themeht-text-color); font-size: 24px; line-height: 34px; display: block; margin-bottom: 20px; font-weight: 500; border-bottom: 1px solid var(--themeht-border-light-color); padding-bottom: 15px !important; }
.themeht-sidebar .widget-title:before{ content: ""; height: 3px; width: 100px; background-color: var(--themeht-primary-color); position: absolute; transition: all 0.6s; bottom: -2px; left: 0; }

/*Widget-Search*/
.widget-searchbox{position: relative; width: 100%;}
.widget-searchbox .search-btn {background: none; border: none; color: var(--themeht-text-color); font-size: 20px; outline: medium none; overflow: hidden; position: absolute; right: 20px; top: 50%; transform: translateY(-50%); cursor: pointer;}
.widget-searchbox .search-btn:hover{color: var(--themeht-primary-color)}


/*Recent Post*/
.recent-post li{display: flex; align-items: center;}
.widget .recent-post-thumb{width: 100px; overflow: hidden; flex-shrink: 0; border-radius: 20px}
.widget .recent-post-desc{padding-left: 15px;}
.widget .recent-post-desc a { color: var(--themeht-text-color); font-size: 17px; line-height: 27px; font-weight: 600}
.widget .recent-post-desc a:hover { color: var(--themeht-primary-color); }
.widget .recent-post-desc .post-date { font-size: 15px; }

/*widget-Categories*/ 
.widget .widget-categories li {display: block; padding: 15px 0; border-bottom: 1px dashed var(--themeht-border-light-color); position: relative;}
.widget .widget-categories li:first-child{padding-top: 0;}
.widget .widget-categories li:last-child{padding-bottom: 0; border-bottom: none;}
.widget .widget-categories li a {text-transform: capitalize; font-size: 17px; line-height: 27px; font-weight: 600; color: var(--themeht-text-color); display: flex; justify-content: space-between;}
.widget .widget-categories li a:hover {color: var(--themeht-primary-color); padding-left: 5px;}
.widget .widget-categories li span{font-family: var(--themeht-typography-secondary-font-family); font-weight: 500;}
.widget-categories li i {position: absolute; right: 0; }

/*widget-tags*/ 
.widget .widget-tags li {display: inline-block; margin: 5px 5px 15px 0;}
.widget .widget-tags li a {border-radius: 100px; font-size: 17px; line-height: 27px; font-weight: 600; text-transform: capitalize; background: var(--themeht-bg-light-color); color: var(--themeht-text-color); padding: 5px 15px; display: inline-block; text-align: center;}
.widget .widget-tags li a:hover{background: var(--themeht-primary-color); color: var(--themeht-white-color);}

/*post-tags*/ 
.post-tags li {display: inline-block; margin: 5px 5px 15px 0;}
.post-tags li a {background: var(--themeht-bg-light-color); border-radius: 30px; color: var(--themeht-text-color); padding: 5px 15px; display: inline-block; text-align: center; font-weight: normal;}
.post-tags li a:hover{background: var(--themeht-primary-color); color: var(--themeht-white-color);}

blockquote {border-radius: 20px; z-index: 9; padding: 40px 200px 40px 40px !important; margin: 30px 0px 30px 0; font-size: 20px; line-height: 30px; position: relative; color: var(--themeht-white-color); background-color: var(--themeht-bg-dark-color);}
blockquote span { color: var(--themeht-white-color); margin-top: 20px; display: block; font-size: 18px; font-weight: 700; text-transform: uppercase;}
blockquote:after { position: absolute; bottom: -50px; right: -30px; font-family: 'bootstrap-icons'; content: "\F6B0"; font-size: 250px; color: var(--themeht-secondary-color); line-height: 1; z-index: -1; opacity: 0.03; }


.post-comment .comments-title, .post-comment .comment-reply-title { font-size: 34px; line-height: 44px; margin-bottom: 30px; }
.post-comment li { display: flex; align-items: flex-start; margin-bottom: 50px; border-bottom: 1px solid var(--themeht-border-light-color); padding-bottom: 50px; position: relative; }
.post-comment li:last-child { margin-bottom: 0; border-bottom: none; padding-bottom: 0; }
.author-img { flex-shrink: 0; width: 100px; margin-right: 30px; }
.author-img img{ flex-shrink: 0; width: 100px; margin-right: 30px; border-radius: 20px }
.comment-date { color: var(--themeht-text-color); }
.comments-body p { margin: 15px 0 0; }
.comment-reply-link, .comment-reply-link:focus, .comment-reply-link:visited, .comment-reply-link:active {border-radius: 100px; font-size: 14px; font-weight: 500; border: 1px solid transparent; position: relative; text-transform: uppercase; padding: 5px 30px 5px 50px; background: var(--themeht-secondary-color); color: var(--themeht-text-color); display: inline-block; }
.comment-reply-link:hover { background: var(--themeht-primary-color); color: var(--themeht-white-color); }
.comment-reply-link:before { content: '\f520'; font-family: 'bootstrap-icons'; font-weight: normal; font-size: 18px; position: absolute; left: 24px; top: 5px; }


/* ------------------------
  Swiper Arrow 
------------------------*/
.swiper .swiper-button-prev { left: 40px !important; }
.swiper .swiper-button-next { right: 40px !important; }
.swiper .swiper-button-prev, .swiper .swiper-button-next { border-radius: 100%; background: var(--themeht-primary-color); width: 50px; height: 50px; line-height: 50px; border: 1px solid var(--themeht-primary-color); display: inline-block; text-align: center; -webkit-transition: all .3s ease-in-out; -moz-transition: all .3s ease-in-out; transition: all .3s ease-in-out; opacity: 0; }
.swiper:hover .swiper-button-prev, .swiper:hover .swiper-button-next { opacity: 1; }
.swiper:hover .swiper-button-prev { left: 20px !important; }
.swiper:hover .swiper-button-next { right: 20px !important; }
.swiper .swiper-button-prev:hover, .swiper .swiper-button-next:hover { background: var(--themeht-secondary-color); border-color: var(--themeht-secondary-color); }
.swiper .swiper-button-next:after, .swiper .swiper-button-prev:after { color: var(--themeht-white-color); font-size: 16px; -webkit-transition: all .3s ease-in-out; -moz-transition: all .3s ease-in-out; transition: all .3s ease-in-out; line-height: 40px !important; font-weight: 900; }
.swiper .swiper-button-next:hover::after, .swiper .swiper-button-prev:hover::after { color: var(--themeht-white-color); }

/* ------------------------
  Swiper Dot Pagination
------------------------*/
.swiper-pagination { position: inherit !important; text-align: center; -webkit-transition: 300ms opacity; -o-transition: 300ms opacity; transition: 300ms opacity; -webkit-transform: translate3d(0, 0, 0); transform: translate3d(0, 0, 0); z-index: 10; margin-top: 50px; }
.swiper-pagination-fraction, .swiper-pagination-custom, .swiper-container-horizontal>.swiper-pagination-bullets { bottom: 10px; left: 0; width: 100%; }
.swiper-container-horizontal>.swiper-pagination-bullets .swiper-pagination-bullet { margin: 0 4px; }
.swiper-pagination-clickable .swiper-pagination-bullet { background-color: var(--themeht-bg-dark-color); border-radius: 50%; width: 10px; height: 10px; opacity: 1; display: inline-block; }
.swiper-pagination-clickable .swiper-pagination-bullet-active { opacity: 1; background: var(--themeht-primary-color); }
.swiper-nav-none .swiper-button-prev, .swiper-nav-none .swiper-button-next, .swiper-nav-none .swiper-pagination {display: none;}
.swiper-nav-dots .swiper-button-prev, .swiper-nav-dots .swiper-button-next {display: none;}
.swiper-nav-arrow .swiper-pagination {display: none;}


/* ------------------------
    Featured Box
------------------------*/
.featured-item.style-1 { background: var(--themeht-white-color); padding: 30px; position: relative; z-index: 1; border-radius: 20px; overflow: hidden;}
.featured-item.style-1 .featured-icon { margin-bottom: 20px; position: relative; z-index: 9; font-size: 50px; line-height: 1; color: var(--themeht-primary-color); display: inline-block; }
.featured-item .featured-icon i { display: inline-block; }
.featured-desc p { margin-bottom: 0; }
.featured-title h5 { margin-bottom: 10px; }
.feature-number { position: absolute; right: 20px; font-size: 40px; color: var(--themeht-primary-color); top: 20px; opacity: 0.08; font-weight: 600; }
.featured-item.style-1:before { z-index: -1; content: ""; background: var(--themeht-primary-color); position: absolute; left: auto; right: 0; top: 0; width: 0; height: 100%; }
.featured-item.style-1:hover:before { width: 100%; left: 0; right: auto; }
.featured-item.style-1:hover .featured-title h5, .featured-item.style-1:hover .featured-icon, .featured-item.style-1:hover .feature-number { color: var(--themeht-white-color); -webkit-transition: all 0.6s ease-in-out 0s; -moz-transition: all 0.6s ease-in-out 0s; -ms-transition: all 0.6s ease-in-out 0s; -o-transition: all 0.6s ease-in-out 0s; transition: all 0.6s ease-in-out 0s; }
.dark-bg .featured-item.style-1 { box-shadow: none; background: rgba(255, 255, 255, 0.02); }
.dark-bg .featured-item.style-1 .feature-number { color: var(--themeht-secondary-color); opacity: 0.5; }
.dark-bg .featured-item.style-1 .featured-icon, .dark-bg .featured-item.style-1 .featured-title h5 { color: var(--themeht-white-color) }
.featured-item.style-2 { padding: 30px; background: var(--themeht-bg-light-color); border-radius: 20px; }
.featured-item.style-2 .featured-title { display: flex; justify-content: space-between; align-items: flex-end; margin-bottom: 15px; }
.featured-item.style-2 .featured-title h5 { margin-bottom: 0; }
.featured-item.style-2 .featured-icon { flex-shrink: 0; position: relative; z-index: 9; font-size: 50px; line-height: 1; color: var(--themeht-primary-color); display: inline-block; }
.featured-item.style-2:hover .featured-icon { color: var(--themeht-secondary-color);}
.featured-item.style-3 { background: var(--themeht-white-color); padding: 50px 30px; overflow: hidden; position: relative; z-index: 9; text-align: center; border-radius: 20px }
.featured-item.style-3 .featured-title { margin-bottom: 15px; }
.featured-item.style-3 .featured-title h5 { margin-bottom: 0; }
.featured-item.style-3 .featured-icon { position: relative; z-index: 9; font-size: 60px; line-height: 1; color: var(--themeht-primary-color); display: inline-block; margin-bottom: 30px; }
.featured-item.style-3 .feature-number { font-size: 20px; color: var(--themeht-white-color); top: -10px; opacity: 1; font-weight: 600; background: var(--themeht-secondary-color); width: 70px; height: 70px; text-align: center; line-height: 70px; border-radius: 50%; right: -10px; display: none; }
.featured-item.style-3:before { position: absolute; content: ''; top: 0; right: 0; bottom: 0; left: 0; transform: scaleY(0); transition: .7s; background-color: var(--themeht-primary-color); transform-origin: top; z-index: -1; }
.featured-item.style-3:hover:before { transform: scale(1); }
.featured-item.style-3 .featured-icon, .featured-item.style-3 h5, .featured-item.style-3 p { transition: .5s; }
.featured-item.style-3:hover .featured-icon, .featured-item.style-3:hover h5, .featured-item.style-3:hover p { color: var(--themeht-white-color); }


/* ------------------------
    Testimonials
------------------------*/
.testimonial.style-1 { position: relative; text-align: center; }
.testimonial.style-1 .testimonial-img { position: relative; width: 100px; height: 100px; display: inline-block; border-radius: 50%; overflow: hidden; border: 1px solid var(--themeht-secondary-color); padding: 5px; margin-right: 20px; }
.testimonial.style-1 .testimonial-img img { border-radius: 50%; }
.testimonial.style-1 .testimonial-caption { display: flex; align-items: center; justify-content: center; text-align: left; }
.testimonial.style-1 .testimonial-content { width: 60%; margin: 0 auto; }
.testimonial.style-1 .testimonial-caption h4{color: var(--themeht-secondary-color);}
.testimonial.style-1 .testimonial-quote { font-size: 80px; display: inline-block; line-height: 1; color: var(--themeht-secondary-color); }
.testimonial-content p { font-size: 28px; line-height: 40px; margin-bottom: 0; color: var(--themeht-text-color); font-style: italic; margin: 20px 0 30px; }
.testimonial .testimonial-caption span { color: var(--themeht-primary-color); display: block; font-size: 14px; line-height: 22px; font-weight: 600; text-transform: uppercase; }
.testimonial .testimonial-caption h4 { display: inline-block; margin-bottom: 0; }
.testimonial-left .testimonial.style-1 { text-align: left; }
.testimonial-left .testimonial.style-1 .testimonial-content { width: 100%; }
.testimonial-left .testimonial-caption { justify-content: flex-start; }
.testimonial.style-2 { text-align: center; position: relative; border-radius: 0;}
.testimonial.style-2 .testimonial-img { position: relative; width: 100px; height: 100px; display: inline-block; border-radius: 50%; overflow: hidden; }
.testimonial.style-2 .testimonial-img img { border-radius: 50%; }
.testimonial.style-2 .testimonial-content{position: relative; padding-top: 50px;}
.testimonial.style-2 .testimonial-caption h4 {color: var(--themeht-secondary-color)}
.testimonial.style-2 .testimonial-content p { font-size: 30px; line-height: 40px; font-style: normal; margin-top: 0; }
.testimonial.style-2 .testimonial-quote { font-size: 120px; display: inline-block; line-height: 1; color: var(--themeht-secondary-color); position: absolute; left: 30px; top: 0; opacity: 0; }
.testimonial.style-2 .testimonial-quote.right { left: 50%; top: 0; transform: translateX(-50%); opacity: 0.1; }
.dark-bg .testimonial-content p, .dark-bg  .testimonial-caption span, .theme-bg .testimonial-content p, .theme-bg .testimonial-caption span { color: var(--themeht-white-color) }


/* ------------------------
    service Box
------------------------*/
.service-item{ position: relative;}
.service-image img{border-radius: 20px}
.service-item.style-1 { display: flex; background: var(--themeht-white-color); border-radius: 20px; }
.service-item.style-1 .service-image { width: 50%; }
.service-item.style-1 .service-desc { padding: 50px 40px; width: 50%; display: flex; align-items: center; }
.service-item.style-1 .service-icon { z-index: 9; position: relative; font-size: 70px; line-height: 1; color: var(--themeht-primary-color); display: inline-block; margin-bottom: 20px; }
.service-item.style-1 .service-image { position: relative; overflow: hidden; }
.service-item.style-1 .service-image img { height: 100%; object-fit: cover; }
.service-item.style-1 .service-desc li { margin-bottom: 10px; }
.service-item.style-1 .service-desc li i { color: var(--themeht-primary-color); margin-right: 5px; }
.service-item.style-1 .service-desc ul { margin-bottom: 30px; }

.service-item.style-2 { background: var(--themeht-white-color); }
.service-item.style-2 .service-desc { border-radius: 20px; border-top-right-radius: 0; padding: 30px; position: relative; background: var(--themeht-white-color); margin-top: -150px; width: 80%; margin-left: auto; display: block; }
.service-item.style-2:hover .service-desc { width: 100%; }
.service-item.style-2 .service-icon { border-top-right-radius: 20px; z-index: 9; position: absolute; font-size: 70px; line-height: 1; color: var(--themeht-white-color); display: flex; background: var(--themeht-primary-color); width: 100px; height: 100px; align-items: center; justify-content: center; right: 0; top: 0; transform: translateY(-100%); }
.service-item.style-2 .service-icon { line-height: 0; }
.service-item.style-2 .service-image { position: relative; overflow: hidden; padding-right: 100px; }
.service-item.style-2 .service-image img { height: 100%; object-fit: cover; }
.service-item.style-2 .service-desc li { margin-bottom: 10px; }
.service-item.style-2 .service-desc li i { color: var(--themeht-primary-color); margin-right: 5px; }
.service-item.style-2 .service-desc ul { margin-bottom: 30px; }

.service-swiper5 .swiper-slide:nth-child(2n+2){margin-top: 50px;}
.service-item.style-3 .service-title { border-top-right-radius: 20px; border-bottom-right-radius: 20px; background: var(--themeht-white-color); position: absolute; padding: 20px; bottom: 50px; z-index: 9; }
.service-item.style-3 .service-title h4{margin-bottom: 0;}    
.service-item.style-3 .service-title:before{ border-top-right-radius: 20px; border-bottom-right-radius: 20px; content: ""; background: var(--themeht-secondary-color); position: absolute; left: 0; top: 0; width: 0; height: 100%; z-index: -1}    
.service-item.style-3:hover .service-title:before{ width: 100%;}

.service-item.style-4 { position: relative; background: white; padding: 50px; border-radius: 20px; padding-right: 100px; border-bottom-right-radius: 100px; }
.service-item.style-4 .service-icon { position: absolute; right: 0; bottom: 0; font-size: 40px; line-height: 1; color: var(--themeht-primary-color); width: 100px; height: 100px; display: flex; align-items: center; justify-content: center; background: var(--themeht-white-color); border-radius: 100%; border: 10px solid var(--themeht-bg-light-color); }
.service-item.style-4:hover .service-icon { background: var(--themeht-secondary-color); color: var(--themeht-text-color); }

.service-item.style-5 { position: relative; margin-bottom: 60px; }
.service-item.style-5 .service-desc { position: absolute; z-index: 1; left: 5%; bottom: -30px; padding: 0 10px 0 0px; background-color: var(--themeht-white-color); margin: 0 auto; box-shadow: 0 5px 22px 0px rgba(15, 53, 103, .05); -webkit-transition: all 0.3s 0s ease-out; -moz-transition: all 0.3s 0s ease-out; -ms-transition: all 0.3s 0s ease-out; -o-transition: all 0.3s 0s ease-out; transition: all 0.3s 0s ease-out; width: 90%; display: flex; align-items: center; border-radius: 20px }
.service-item.style-5 .service-desc .service-icon { background: var(--themeht-secondary-color); display: inline-block; width: 70px; height: 70px; text-align: center; line-height: 70px; font-size: 40px; color: white; margin-right: 20px; color: var(--themeht-text-color); border-radius: 20px }
.service-item.style-5 .service-desc h4 { margin-bottom: 0; }
.service-item.style-5 .service-desc-hover { position: absolute; z-index: 1; left: 5%; bottom: -50px; padding: 30px; background-color: var(--themeht-white-color); margin: 0 auto; box-shadow: 0 5px 22px 0px rgba(15, 53, 103, .05); -webkit-transition: all 0.3s 0s ease-out; -moz-transition: all 0.3s 0s ease-out; -ms-transition: all 0.3s 0s ease-out; -o-transition: all 0.3s 0s ease-out; transition: all 0.3s 0s ease-out; width: 90%; opacity: 0; visibility: hidden; border-radius: 20px }
.service-item.style-5:hover .service-desc-hover { opacity: 1; visibility: visible; bottom: -30px; }
.service-item.style-5 .service-desc-hover li { margin-bottom: 10px; }
.service-item.style-5 .service-desc-hover li i { color: var(--themeht-primary-color); margin-right: 5px; }


/*Service Sidebar*/
.service-page-sidebar { margin-right: 50px; }
.service-widget { margin-bottom: 50px; background-color: var(--themeht-white-color); background: var(--themeht-white-color); padding: 30px; border-radius: 20px; }
.service-widget ul { padding-left: 0; }
.service-widget li { margin-bottom: 15px; list-style-type: none; }
.service-widget li:last-child { margin-bottom: 0; }
.service-widget li a { border-radius: 10px; background-color: var(--themeht-bg-light-color); color: var(--themeht-text-color); display: block; font-size: 18px; padding: 15px 20px; font-weight: 600; position: relative; overflow: hidden; }
.service-widget .service-menu li.active a, .service-widget .service-menu li:hover a { color: var(--themeht-primary-color); padding-left: 60px; }
.service-widget .service-menu li a:before, .service-widget li a:after { position: absolute; top: 0; left: -50px; font-family: 'flaticon_mycollection'; content: "\f12e"; font-size: 22px; display: flex; z-index: 99; background: var(--themeht-primary-color); width: 40px; height: 100%; color: var(--themeht-white-color); justify-content: center; align-items: center; }
.service-widget .service-menu li a:after{left: auto; right: 0;}   
.service-widget .service-menu li a:hover:before, .service-widget .service-menu li.active a:before { opacity: 1; left: 0; }
.service-widget .service-menu li a:hover:after, .service-widget .service-menu li.active a:after { opacity: 1; right: -50px; }
.service-contact h3, .service-contact p{color: var(--themeht-white-color);}


/* ------------------------
    Price Table
------------------------*/
.price-table { padding: 40px 30px; border-radius: 20px; overflow: hidden; position: relative; background: var(--themeht-white-color); z-index: 9; border: 1px solid var(--themeht-border-light-color); }
.price-value h2 { font-size: 50px; line-height: 1; position: relative; display: flex; color: var(--themeht-text-color); margin-bottom: 30px; }
.price-value h2 span { font-size: 30px; line-height: 30px; font-weight: normal; color: var(--themeht-primary-color); align-self: flex-start; }
.price-list { margin-bottom: 40px; }
.price-list ul li { position: relative; margin-bottom: 15px; }
.price-list ul li:last-child { margin-bottom: 0; }
.price-list li i { color: var(--themeht-white-color); line-height: 20px; font-size: 12px; width: 20px; height: 20px; background: var(--themeht-primary-color); display: inline-block; text-align: center; border-radius: 50%; margin-right: 10px; }
.price-title { margin-bottom: 20px; display: inline-block; }
.price-title h4 { font-size: 18px; line-height: 30px; margin-bottom: 0; color: var(--themeht-primary-color); text-transform: uppercase; }
.price-active .price-table { background: var(--themeht-primary-color); transform: scale(1.1); }
.price-active .price-table h4, .price-active .price-table .price-list ul li, .price-active .price-table h2, .price-active .price-table h2 span, .price-active .price-table h6 { color: var(--themeht-white-color); }
.price-active .price-table .price-list ul li i { color: var(--themeht-primary-color); background: var(--themeht-white-color); }
.price-active .price-table .dark-outline-btn { border: 1px solid var(--themeht-white-color); color: var(--themeht-white-color); }


/* ------------------------
    Progress Bar
------------------------*/
.ht-progress-bar { margin-bottom: 20px; }
.ht-progress-bar:last-child { margin-bottom: 0; }
.ht-progress-bar { position: relative; }
.ht-progress-bar h4 { color: var(--themeht-text-color); font-size: 16px; margin-bottom: 10px; line-height: 30px; }
.ht-progress-bar .progress { height: 5px; background: var(--themeht-white-color); overflow: visible; align-items: center; width: 100%; border-radius: 0; border-bottom: 2px solid var(--themeht-border-light-color); }
.ht-progress-bar .progress-parcent { position: absolute; right: 0; top: -35px; color: var(--themeht-text-color); font-size: 16px; font-weight: 600; }
.ht-progress-bar .progress .progress-bar { height: 5px; background-color: var(--themeht-primary-color); overflow: visible; position: relative; }
.skill-title {font-size: 18px; line-height: 28px; font-weight: 400; margin-top: 10px; display: block; color: var(--themeht-text-color);  }
.skill-num { font-size: 25px; color: var(--themeht-text-color); text-align: center; }
.skill { position: relative; user-select: none; box-sizing: border-box; width: 120px; height: 120px;}
.skill-bg { width: 100%; height: 100%; border-radius: 50%; box-sizing: border-box; border: 1px solid var(--themeht-secondary-color); display: flex; align-items: center; justify-content: center; }
.spinner-holder-one { position: absolute; top: 0; left: 0; overflow: hidden; width: 50%; height: 50%; background: transparent; box-sizing: border-box; }
.spinner-holder-two { position: absolute; top: 0; left: 0; overflow: hidden; width: 100%; height: 100%; background: transparent; box-sizing: border-box; }
.skill-spinner { width: 200%; height: 200%; border-radius: 50%; border: 1px solid var(--themeht-primary-color); box-sizing: border-box; }
.animate-0-25-a { transform: rotate(90deg); transform-origin: 100% 100%; }
.animate-0-25-b { transform: rotate(-90deg); transform-origin: 100% 100%; }
.animate-25-50-a { transform: rotate(180deg); transform-origin: 100% 100%; }
.animate-25-50-b { transform: rotate(-90deg); transform-origin: 100% 100%; }
.animate-50-75-a { transform: rotate(270deg); transform-origin: 100% 100%; }
.animate-50-75-b { transform: rotate(-90deg); transform-origin: 100% 100%; }
.animate-75-100-a { transform: rotate(0deg); transform-origin: 100% 100%; }
.animate-75-100-b { transform: rotate(-90deg); transform-origin: 100% 100%; }


/* ------------------------
    Portfolio Item
------------------------*/
.portfolio-item { position: relative; overflow: hidden; }
.portfolio-img img{width: 100%;}
.portfolio-title { width: 100%; padding: 20px; -webkit-transform: translate3d(-100%, 0, 0); -ms-transform: translate3d(-100%, 0, 0); transform: translate3d(-100%, 0, 0); opacity: 0; visibility: hidden; -webkit-transition: all 0.4s ease-in-out; transition: all 0.8s ease-in-out; position: absolute; left: 0; bottom: 30px; z-index: 2; }
.portfolio-item:hover .portfolio-title { opacity: 1; visibility: visible; -webkit-transform: translate3d(0, 0, 0); -ms-transform: translate3d(0, 0, 0); transform: translate3d(0, 0, 0); }
.portfolio-item .portfolio-title .portfolio-cat a { display: inline-block; color: var(--themeht-primary-color); font-size: 14px; line-height: 22px; font-weight: 600; text-transform: uppercase; padding: 4px 8px; position: relative; z-index: 1 }
.portfolio-item h4 a { color: var(--themeht-text-color); padding: 4px 8px; margin-top: 10px; display: inline-block; position: relative; z-index: 1 }
.portfolio-item h4 a:hover { color: var(--themeht-primary-color); }
.portfolio-item h4 a:before, .portfolio-item .portfolio-title .portfolio-cat a:before {border-radius: 10px; -webkit-transition: all 1s ease-in-out; transition: all 1s ease-in-out; content: ""; background: var(--themeht-white-color); position: absolute; left: 0; top: 0; width: 0; height: 100%; z-index: -1 }
.portfolio-item:hover h4 a:before, .portfolio-item:hover .portfolio-title .portfolio-cat a:before { width: 100%; }
.portfolio-single-page ul.portfolio-meta-info { display: flex; flex-wrap: nowrap; padding: 30px; width: 100%; align-items: flex-start; margin-bottom: 50px; border-radius: 20px }
.portfolio-single-page ul.portfolio-meta-info li { list-style-type: none; width: 20%; display: inline-block; padding-right: 30px; }
.portfolio-single-page ul.portfolio-meta-info li span.sub-title { text-transform: uppercase; font-weight: 600; display: block; margin-bottom: 5px; color: var(--themeht-primary-color); }
.portfolio-single-page ul.portfolio-meta-info li span.title { font-weight: 600; color: var(--themeht-text-color); font-size: 18px; }


/* ------------------------
  Timetable
------------------------*/
.working-hours-item { display: flex; align-items: baseline; justify-content: space-between; border-bottom: 1px solid var(--themeht-border-light-color); padding: 12px 0 9px; }
.theme-bg .working-hours-item, .dark-bg .working-hours-item { border-bottom: 1px solid rgba(255, 255, 255, 0.25); color: var(--themeht-white-color); }
.working-hours-item:last-child { border-bottom: none; padding-bottom: 0; }
.timetable-item table th { padding: 20px; background: var(--themeht-primary-color); color: var(--themeht-white-color); text-align: center; text-transform: uppercase; font-size: 18px; }
.timetable-item table td { padding: 20px; }
.timetable-item table td span { display: block; font-weight: 700; }
.timetable-item .timetable-time { color: var(--themeht-primary-color); font-weight: 700; }
.theme-icon-box{padding: 50px; position: relative;}
.theme-icon-box > i{font-size: 60px; line-height: 1; margin-bottom: 30px; display: inline-block; color: var(--themeht-white-color)}
.theme-icon-box .icon-right-lg { position: absolute; right: 0; display: inline-block; opacity: 0.1; top: 0; font-size: 120px; line-height: 1; color: var(--themeht-white-color) }


/* ------------------------
  Splitting Text
------------------------*/
.splitting { --word-center: calc((var(--word-total) - 1) / 2); --char-center: calc((var(--char-total) - 1) / 2); --line-center: calc((var(--line-total) - 1) / 2); }
.splitting .word { --word-percent: calc(var(--word-index) / var(--word-total)); --line-percent: calc(var(--line-index) / var(--line-total)); }
.splitting .char { --char-percent: calc(var(--char-index) / var(--char-total)); --char-offset: calc(var(--char-index) - var(--char-center)); --distance: calc((var(--char-offset) * var(--char-offset)) / var(--char-center)); --distance-sine: calc(var(--char-offset) / var(--char-center)); --distance-percent: calc((var(--distance) / var(--char-center))); }
.splitting.ht-text-animated .char { animation-fill-mode: both; animation-duration: 1000ms; animation-delay: calc(200ms + calc(15ms * var(--char-index))); }
.splitting.ht-text-animated .char { animation-name: uicoreFadeInUp, uicoreFadeIn !important; animation-timing-function: cubic-bezier(.22, 1, .36, 1), cubic-bezier(0, 0, .2, 1); }


@keyframes uicoreFadeInUp {
    0% {
        transform: translate3d(0,40px,0);
    }
    100% {
        transform: translateZ(0);
    }
}

@keyframes uicoreFadeIn {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}


/* ------------------------
  Gallery
------------------------*/
.gallery-item { overflow: hidden; position: relative; text-align: center; border-radius: 20px; }
a.popup { z-index: 9; width: 50px; height: 50px; line-height: 50px; background: var(--themeht-white-color); display: inline-block; color: var(--themeht-primary-color); font-size: 30px; border-radius: 50%; opacity: 0; }
a.popup:hover { background: var(--themeht-text-color); color: var(--themeht-white-color); }
.gallery-item:hover a.popup { opacity: 1; -webkit-transform: rotateZ(0deg); -moz-transform: rotateZ(0deg); -ms-transform: rotateZ(0deg); -o-transform: rotateZ(0deg); transform: rotateZ(0deg); }
.gallery-icon { position: absolute; top: 50%; transform: translateY(-50%); width: 100%; padding: 15px; left: 0; z-index: 999; }
.gallery-item img { transform: scale(1.03); -webkit-transform: scale(1.03); -o-transform: scale(1.03); -ms-transform: scale(1.03); -moz-transform: scale(1.03); }
.gallery-item:hover img { transform: scale(1); -webkit-transform: scale(1); -o-transform: scale(1); -ms-transform: scale(1); -moz-transform: scale(1); }
.gallery-item .gallery-hover { border-radius: 20px; bottom: 10px; left: 10px; position: absolute; right: 10px; top: 10px; opacity: 0; background: var(--themeht-primary-color); }
.gallery-item .gallery-hover { -webkit-transform: rotateX(-90deg) translate3d(0%, -50%, 0) scale(0.6); -moz-transform: rotateX(-90deg) translate3d(0%, -50%, 0) scale(0.6); -ms-transform: rotateX(-90deg) translate3d(0%, -50%, 0) scale(0.6); -o-transform: rotateX(-90deg) translate3d(0%, -50%, 0) scale(0.6); transform: rotateX(-90deg) translate3d(0%, -50%, 0) scale(0.6); -webkit-transform-origin: 50% 100%; -moz-transform-origin: 50% 100%; -ms-transform-origin: 50% 100%; -o-transform-origin: 50% 100%; transform-origin: 50% 100%; }
.gallery-item:hover .gallery-hover { opacity: 1; transform: rotateX(0deg) translate3d(0px, 0%, 0px) scale(1); transition-delay: 0.21s; }


/* ------------------------
  Category
------------------------*/
.category-icon-item { background-color: transparent; height: 200px; perspective: 1000px; }
.category-icon-item i { color: var(--themeht-text-color); font-size: 70px; line-height: 1; }
.category-icon-item h5 { margin-bottom: 0; margin-top: 20px }
.category-icon-box-inner { position: relative; width: 100%; height: 100%; text-align: center; transition: transform 0.8s; transform-style: preserve-3d; display: flex; justify-content: center; align-items: center; }
.category-icon-item:hover .category-icon-box-inner { transform: rotateY(180deg); }
.category-icon-box-front, .category-icon-box-back { position: absolute; width: 100%; height: 100%; -webkit-backface-visibility: hidden; backface-visibility: hidden; display: flex; justify-content: center; align-items: center; flex-direction: column; }
.category-icon-box-front { background-color: var(--themeht-white-color); border-radius: 20px; }
.category-icon-box-back { background-color: var(--themeht-primary-color); transform: rotateY(180deg); padding: 16px; border-radius: 20px; }
.category-icon-item .category-icon-box-back i, .category-icon-item .category-icon-box-back h5 { color: var(--themeht-white-color); }

.form-overlap{margin-left: -150px;}



/* ------------------------
  Shop Page
------------------------*/
.product-item{padding: 20px; border-radius: 20px;}
.product-img img{border-radius: 20px}
.product-name{font-size: 20px; color: var(--themeht-text-color);}
.product-link a i { display: inline-block; color: var(--themeht-text-color); font-size: 18px; vertical-align: middle; }
.product-link a {border-radius: 50px; padding: 5px 20px; background: var(--themeht-bg-light-color); font-weight: 500; display: inline-block; overflow: hidden; color: var(--themeht-text-color); position: relative; text-align: center; }
.product-link a:hover { background: var(--themeht-primary-color); color: var(--themeht-white-color); }
.product-link a:hover i { color: var(--themeht-white-color); }

.form-check-input:checked { background-color: var(--themeht-primary-color); border-color: var(--themeht-primary-color); }
.widget-color [type="radio"]:checked, .widget-color [type="radio"]:not(:checked) { position: absolute; opacity: 0; pointer-events: none; }
.widget-color .form-check-label { width: 26px; height: 26px !important; border-radius: 0.25rem; padding: 0 !important; margin-bottom: 0; }
.widget-color .form-check-input[type="radio"]:checked + label, .widget-color .form-check-input[type="radio"]:not(:checked) + label, label.btn input[type="radio"]:checked + label, label.btn input[type="radio"]:not(:checked) + label { position: relative; padding-left: 35px; cursor: pointer; display: inline-block; height: 1.5625rem; line-height: 1.5625rem; transition: .28s ease; -webkit-user-select: none; -moz-user-select: none; -ms-user-select: none; user-select: none; }
.widget-color .form-check-input[type="radio"] + label::after, .widget-color .form-check-input[type="radio"] + label::before, label.btn input[type="radio"] + label::after, label.btn input[type="radio"] + label::before { content: ''; position: absolute; left: -2px; top: -2px; width: 30px; height: 30px; z-index: 0; transition: .28s ease; z-index: -1; border-radius: 0.25rem; }
.widget-color .form-check-input[type="radio"]:checked + label::after, label.btn input[type="radio"]:checked + label::after { transform: scale(1.02); }
.widget-color .form-check-input[type="radio"]:checked + label::after { background-color: var(--themeht-primary-color); }
.widget-size input[type="radio"] { visibility: hidden; position: absolute; }
.widget-size label { background: var(--themeht-bg-light-color); margin-bottom: 0; display: inline-block; height: 40px; min-width: 40px; text-align: center; font-size: 14px; color: var(--themeht-text-color); font-weight: 500; cursor: pointer; border-radius: 0.25rem; line-height: 40px; }
.widget-size input[type="radio"]:checked + label { background: var(--themeht-primary-color); color: var(--themeht-white-color); }
.widget-color li { list-style-type: none; display: inline-block; margin-right: 1%; margin-bottom: 20px; width: 22%; text-align: center; }
.widget-color li:nth-child(4n+4) { margin-right: 0; }
.widget-size li { list-style-type: none; display: inline-block; width: 20%; text-align: center; float: left; }
.widget-size li:nth-child(4n+4) { margin-right: 0; }

input.form-product { -moz-appearance: textfield; height: 40px !important; border: none; background: var(--themeht-white-color); text-align: center; width: 150px; border-top: 1px solid var(--themeht-border-light-color) !important; border-bottom: 1px solid var(--themeht-border-light-color) !important; color: var(--themeht-text-color); vertical-align: middle; }
.btn-product { background: none; color: var(--themeht-text-color); border: 1px solid var(--themeht-border-light-color); height: 40px; width: auto; padding: 0 10px; font-size: 13px; cursor: pointer; }
.cart-table td { padding: 20px; text-align: center; vertical-align: middle; color: var(--themeht-text-color); }

.product-img{margin-bottom: 20px}
.product-list .product-img{margin-bottom: 0}
.product-price{display: block; margin-top: 5px}